html, body {
    margin: 0px;
    padding: 0px;
    /* height: 100%; */
}

#chat-window {
    display           : grid;
    grid-template-rows: 40px 1fr 40px;
    height            : 100vh;
    margin: 0px;
    padding: 0px;
}

#toolbar {
    grid-row        : 1;
}

#response {
    grid-row        : 2;
    overflow-y      : auto;
    background-color: beige;
    margin: 0px;
    padding: 0px;
}

#request {
    grid-row        : 3;
    display: grid;
    grid-template-columns: 1fr 100px;
}

#input {
    grid-column: 1;
    height: 100%;
    box-sizing: border-box;
    margin-left: 2px;
    padding: 0px;
}

#send {
    grid-column: 2;
    height: 100%;
    box-sizing: border-box;
    margin-right: 2px;
    padding: 0px;
}

.user-text {
    background-color: lightblue;
    text-align: right;
    padding: 5px;
    margin: 5px;
    font-style: italic;
    font-size: 1.2em;
}

.bot-text-thinking {
    color: gray;
}

.bot-text-final {
    background-color: whitesmoke;
}