<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BaatCheet</title>
    <link rel="stylesheet" href="/static/libs/bulma.min.css" />
    <link rel="stylesheet" href="/static/index.css" />
  </head>
  <!-- The body has flex grid and flex direction column, and fills the height -->
  <body class="app">
    <div id="toolbar" class="toolbar">BaatCheet</div>

    <!-- response is a flex container which grows -->
    <div
      id="response-container"
      class="response-container mgb-large"
    >
      <div id="response" class="response"></div>
      <div class="extra">
        <br />
        <br />
        <br />
        <br />
        <br />
      </div>
    </div>

    <div id="request" class="request is-flex">
      <div class="is-flex-grow-3">
        <input
          class="input is-primary"
          type="text"
          id="input"
          value="what is 2+3?"
          placeholder="Type a message..."
        />
      </div>
      <div class="is-flex-grow-1">
        <button type="button" class="button is-primary" id="send">↩️</button>
        <button type="button" class="button is-primary" id="newchat">➕</button>
      </div>
    </div>
    <script>
      window.onload = function () {
        document.getElementById("input").focus();
      };
    </script>
    <script
      id="MathJax-script"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
    ></script>

    <script src="/static/libs/marked.min.js"></script>
    <script src="/static/index.js"></script>
  </body>
</html>
